/* Belajar mengenai text styling */

p {
    text-decoration: underline;
    color: lightblue;
    text-align: center;
  }
  
  h2{
    text-indent: 40px;
  }
  
  h3 {
    text-transform: lowercase;
    letter-spacing: 2px;
    word-spacing: 10px;
  }
  